<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="INdir" value="c:\Users\aparshin\source\repos\BSTReportPrep\bin\Debug\IN"/>
    <add key="OUTdir" value="c:\Users\aparshin\source\repos\BSTReportPrep\bin\Debug\OUT"/>
    <add key="REPORT_TYPE" value="16P"/><!--"0" без обработки, "08", "16", "16P", "22" тип реестра-->
  </appSettings>
</configuration>